{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}

{% block content %}

<header class="container-fluid">
    <div class="row">
        <div class="col">
            <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. </h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna
                aliqua. Ut lectus arcu bibendum at varius vel. Vulputate enim nulla aliquet porttitor lacus luctus
                accumsan.
                In nibh
                mauris cursus mattis molestie a iaculis. Placerat orci nulla pellentesque dignissim. Faucibus
                scelerisque
                eleifend donec
                pretium vulputate sapien nec sagittis. Semper auctor neque vitae tempus quam pellentesque nec. Eget
                magna
                fermentum
                iaculis eu non diam phasellus vestibulum lorem. Non curabitur gravida arcu ac tortor. Nullam vehicula
                ipsum
                a arcu
                cursus vitae congue. Id eu nisl nunc mi ipsum faucibus vitae aliquet. Amet mauris commodo quis imperdiet
                massa tincidunt
                nunc pulvinar sapien.
            </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna
                aliqua. Ut lectus arcu bibendum at varius vel. Vulputate enim nulla aliquet porttitor lacus luctus
                accumsan.
                In nibh
                mauris cursus mattis molestie a iaculis. Placerat orci nulla pellentesque dignissim. Faucibus
                scelerisque
                eleifend donec
                pretium vulputate sapien nec sagittis. Semper auctor neque vitae tempus quam pellentesque nec. Eget
                magna
                fermentum
                iaculis eu non diam phasellus vestibulum lorem. Non curabitur gravida arcu ac tortor. Nullam vehicula
                ipsum
                a arcu
                cursus vitae congue. Id eu nisl nunc mi ipsum faucibus vitae aliquet. Amet mauris commodo quis imperdiet
                massa tincidunt
                nunc pulvinar sapien.
            </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna
                aliqua. Ut lectus arcu bibendum at varius vel. Vulputate enim nulla aliquet porttitor lacus luctus
                accumsan.
                In nibh
                mauris cursus mattis molestie a iaculis. Placerat orci nulla pellentesque dignissim. Faucibus
                scelerisque
                eleifend donec
                pretium vulputate sapien nec sagittis. Semper auctor neque vitae tempus quam pellentesque nec. Eget
                magna
                fermentum
                iaculis eu non diam phasellus vestibulum lorem. Non curabitur gravida arcu ac tortor. Nullam vehicula
                ipsum
                a arcu
                cursus vitae congue. Id eu nisl nunc mi ipsum faucibus vitae aliquet. Amet mauris commodo quis imperdiet
                massa tincidunt
                nunc pulvinar sapien.
            </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna
                aliqua. Ut lectus arcu bibendum at varius vel. Vulputate enim nulla aliquet porttitor lacus luctus
                accumsan.
                In nibh
                mauris cursus mattis molestie a iaculis. Placerat orci nulla pellentesque dignissim. Faucibus
                scelerisque
                eleifend donec
                pretium vulputate sapien nec sagittis. Semper auctor neque vitae tempus quam pellentesque nec. Eget
                magna
                fermentum
                iaculis eu non diam phasellus vestibulum lorem. Non curabitur gravida arcu ac tortor. Nullam vehicula
                ipsum
                a arcu
                cursus vitae congue. Id eu nisl nunc mi ipsum faucibus vitae aliquet. Amet mauris commodo quis imperdiet
                massa tincidunt
                nunc pulvinar sapien.
            </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna
                aliqua. Ut lectus arcu bibendum at varius vel. Vulputate enim nulla aliquet porttitor lacus luctus
                accumsan.
                In nibh
                mauris cursus mattis molestie a iaculis. Placerat orci nulla pellentesque dignissim. Faucibus
                scelerisque
                eleifend donec
                pretium vulputate sapien nec sagittis. Semper auctor neque vitae tempus quam pellentesque nec. Eget
                magna
                fermentum
                iaculis eu non diam phasellus vestibulum lorem. Non curabitur gravida arcu ac tortor. Nullam vehicula
                ipsum
                a arcu
                cursus vitae congue. Id eu nisl nunc mi ipsum faucibus vitae aliquet. Amet mauris commodo quis imperdiet
                massa tincidunt
                nunc pulvinar sapien.
            </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna
                aliqua. Ut lectus arcu bibendum at varius vel. Vulputate enim nulla aliquet porttitor lacus luctus
                accumsan.
                In nibh
                mauris cursus mattis molestie a iaculis. Placerat orci nulla pellentesque dignissim. Faucibus
                scelerisque
                eleifend donec
                pretium vulputate sapien nec sagittis. Semper auctor neque vitae tempus quam pellentesque nec. Eget
                magna
                fermentum
                iaculis eu non diam phasellus vestibulum lorem. Non curabitur gravida arcu ac tortor. Nullam vehicula
                ipsum
                a arcu
                cursus vitae congue. Id eu nisl nunc mi ipsum faucibus vitae aliquet. Amet mauris commodo quis imperdiet
                massa tincidunt
                nunc pulvinar sapien.
            </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna
                aliqua. Ut lectus arcu bibendum at varius vel. Vulputate enim nulla aliquet porttitor lacus luctus
                accumsan.
                In nibh
                mauris cursus mattis molestie a iaculis. Placerat orci nulla pellentesque dignissim. Faucibus
                scelerisque
                eleifend donec
                pretium vulputate sapien nec sagittis. Semper auctor neque vitae tempus quam pellentesque nec. Eget
                magna
                fermentum
                iaculis eu non diam phasellus vestibulum lorem. Non curabitur gravida arcu ac tortor. Nullam vehicula
                ipsum
                a arcu
                cursus vitae congue. Id eu nisl nunc mi ipsum faucibus vitae aliquet. Amet mauris commodo quis imperdiet
                massa tincidunt
                nunc pulvinar sapien.
            </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna
                aliqua. Ut lectus arcu bibendum at varius vel. Vulputate enim nulla aliquet porttitor lacus luctus
                accumsan.
                In nibh
                mauris cursus mattis molestie a iaculis. Placerat orci nulla pellentesque dignissim. Faucibus
                scelerisque
                eleifend donec
                pretium vulputate sapien nec sagittis. Semper auctor neque vitae tempus quam pellentesque nec. Eget
                magna
                fermentum
                iaculis eu non diam phasellus vestibulum lorem. Non curabitur gravida arcu ac tortor. Nullam vehicula
                ipsum
                a arcu
                cursus vitae congue. Id eu nisl nunc mi ipsum faucibus vitae aliquet. Amet mauris commodo quis imperdiet
                massa tincidunt
                nunc pulvinar sapien.
            </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna
                aliqua. Ut lectus arcu bibendum at varius vel. Vulputate enim nulla aliquet porttitor lacus luctus
                accumsan.
                In nibh
                mauris cursus mattis molestie a iaculis. Placerat orci nulla pellentesque dignissim. Faucibus
                scelerisque
                eleifend donec
                pretium vulputate sapien nec sagittis. Semper auctor neque vitae tempus quam pellentesque nec. Eget
                magna
                fermentum
                iaculis eu non diam phasellus vestibulum lorem. Non curabitur gravida arcu ac tortor. Nullam vehicula
                ipsum
                a arcu
                cursus vitae congue. Id eu nisl nunc mi ipsum faucibus vitae aliquet. Amet mauris commodo quis imperdiet
                massa tincidunt
                nunc pulvinar sapien.
            </p>
        </div>
    </div>
</header>
<h3 class="color-1-text m-4">Homepage</h3>

{% endblock %}