{% extends 'base.html' %}
{% load static %}

{% block content %}
<section>
    <div class="container-fluid d-flex-column justify-content-center">
        <h2 class="text-center title">HealthBro</h2>
        <h4 class="text-center"><em> connecting men through shared experiences</em></h4>
    </div>
</section>

<section class="features-icons bg-light text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                
            </div>
            <div class="col-lg-4">

            </div>
            
        </div>
    </div>
</section>

<section class="features-icons bg-light text-center">
    <div class="container">
        <div class="row d-flex justify-content-between pt-3">
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon d-flex"><i class="bi-window m-auto text-primary"></i></div>
                    <h4>Connecting Minds</h4>
                    <i class="fa-solid fa-brain"></i>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon d-flex"><i class="bi-layers m-auto text-primary"></i></div>
                    <h4>Wellness Together</h4>
                    <i class="fa-solid fa-spa"></i>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                    <div class="features-icons-icon d-flex"><i class="bi-terminal m-auto text-primary"></i></div>
                    <h4>Friend for Every Step</h4>
                    <i class="fa-solid fa-user-group"></i>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Image Showcases-->
<section class="showcase">
    <div class="container-fluid p-0">
        <div class="row g-0 home-container">
            <div class="col-lg-12 order-lg-2 text-white showcase-img"></div>
            <div class="col-lg-12 row-sm-6 order-lg-1 my-auto showcase-text d-flex m-4 p-3 pt-4 justify-content-evenly">
                <div class="inner">
                    <h3>Strive Together, Thrive Together</h3>
                    <p class="lead mb-0 pt-3"><em>Buddy up with people who share your commitment to a more fulfilling life</em></p>
                    <p class="lead mr-4"> Breaking down communication barriers around men's health; HealthBro provides an accessible platform allowing us chaps with similar difficulties (psychological, physical and everything in between) to connect and support each through a process somewhat similar to a buddy system.</p>
                    <p class="lead mr-4 pt-4"><a class="color-5-text" href="{% url 'account_signup' %}">JOIN US NOW</a></p>
                </div>
                <img src="https://health-bro.s3.eu-west-2.amazonaws.com/media/teamwork.jpg" alt="...">
            </div>
        </div>
        <div class="row g-0 home-container">
            <div class="col-lg-12 text-white showcase-img" ></div>
            <div class="col-lg-12 my-auto showcase-text d-flex m-4 p-3 pt-4 justify-content-evenly">
                <img src="https://health-bro.s3.eu-west-2.amazonaws.com/media/community.jpg" alt="...">
                <div class="inner">
                    <h3><em>Your Wellness Community Awaits</em></h3>
                    <p class="lead mb-0">Join a network of like-minded individuals on the path to better health</p>
                    <p class="lead mr-4">Our goal is to create a supportive space where individuals like you can connect with health-minded peers seeking physical and mental well-being. Whether you're looking for a workout buddy, a mindfulness partner, or someone to share your wellness journey, we're here to help you build meaningful connections.</p>
                    <p class="lead mr-4">Join us to inspire, motivate, and thrive together on the path to a healthier and happier life. At the heart of our platform is the desire to connect like-minded individuals in their pursuit of physical and mental health. Join our community to find supportive friendships, share wellness insights, and embark on a collective journey toward a healthier lifestyle.</p>
                    <p class="lead mr-4">Start your journey with us and discover the strength that comes from being a part of a vibrant wellness community.</p>
                </div>
            </div>
        </div>
        <div class="row g-0 home-container">
            <div class="col-lg-12 order-lg-2 text-white showcase-img"></div>
            <div class="col-lg-12 order-lg-1 my-auto showcase-text d-flex m-4 p-3 pt-4 justify-content-evenly">
                <div class="inner">
                    <h3><em>Forge Lasting Connections</em></h3>
                    <p class="lead mb-0">Create connections that last a lifetime</p>
                    <p class="lead mr-4"> our mission is to help you Forge Lasting Connections. Our goal is to create a platform that goes beyond casual interactions, fostering enduring relationships dedicated to both physical and mental health. Join us to discover fitness companions, mental health allies, and friends who are committed to supporting your wellness journey. Forge connections that withstand the test of time, building a network of lasting support and encouragement. Whether you're striving for fitness goals or seeking a trusted confidant, Forge Lasting Connections is your gateway to a community that cares. Start forging meaningful connections today and embark on a wellness journey with friends who are here for the long run.</p>
                </div>
                <img src="https://health-bro.s3.eu-west-2.amazonaws.com/media/connection.jpg" alt="...">
            </div>
        </div>
    </div>
</section>
<!-- Testimonials-->
<section class="testimonials text-center bg-light">
    <div class="container">
        <h2 class="mb-5">What people are saying...</h2>
        <div class="row">
            <div class="col-lg-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img src="https://health-bro.s3.eu-west-2.amazonaws.com/media/testimonial1.jpg" alt="...." class = "testimonial-pic">
                    <h5>Phil D.</h5>
                    <p>"This is fantastic! Thanks so much guys!"</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img src="https://health-bro.s3.eu-west-2.amazonaws.com/media/testimonial2_720.jpg" alt="...." class="testimonial-pic">
                    <h5>Mark S.</h5>
                    <p>"I've created some amazing friends since I've joined Healthbro!"</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img src="https://health-bro.s3.eu-west-2.amazonaws.com/media/testimonial3.jpg" alt="...." class = "testimonial-pic">
                    <h5>John B.</h5>
                    <p>"I've found a new lease on life thanks to Healthbro!"</p>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}