{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="features-icons bg-light text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                
            </div>
            <div class="col-lg-4">

            </div>
            
        </div>
    </div>
</section>

<section class="features-icons bg-light text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon d-flex"><i class="bi-window m-auto text-primary"></i></div>
                    <h3>Connecting Minds</h3>
                    <i class="fa-solid fa-brain"></i>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon d-flex"><i class="bi-layers m-auto text-primary"></i></div>
                    <h3>Wellness Together</h3>
                    <i class="fa-solid fa-spa"></i>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                    <div class="features-icons-icon d-flex"><i class="bi-terminal m-auto text-primary"></i></div>
                    <h3>Friend for Every Step</h3>
                    <i class="fa-solid fa-user-group"></i>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Image Showcases-->
<section class="showcase">
    <div class="container-fluid p-0">
        <div class="row g-0">
            <div class="col-lg-6 order-lg-2 text-white showcase-img"></div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h3>Strive Together, Thrive Together</h3>
                <p class="lead mb-0">Partner with people who share your commitment to a more fulfilling life</p>
                <img src="https://health-bro.s3.eu-west-2.amazonaws.com/media/teamwork.jpg" alt="...">
            </div>
        </div>
        <div class="row g-0">
            <div class="col-lg-6 text-white showcase-img" ></div>
            <div class="col-lg-6 my-auto showcase-text">
                <h3>Your Wellness Community Awaits</h3>
                <p class="lead mb-0">Join a network of like-minded individuals on the path to better health</p>
                <img src="https://health-bro.s3.eu-west-2.amazonaws.com/media/community.jpg" alt="...">
            </div>
        </div>
        <div class="row g-0">
            <div class="col-lg-6 order-lg-2 text-white showcase-img"></div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h3>Forge Lasting Connections</h3>
                <p class="lead mb-0">Create connections that last a lifetime</p>
                <img src="https://health-bro.s3.eu-west-2.amazonaws.com/media/connection.jpg" alt="...">
            </div>
        </div>
    </div>
</section>
<!-- Testimonials-->
<section class="testimonials text-center bg-light">
    <div class="container">
        <h2 class="mb-5">What people are saying...</h2>
        <div class="row">
            <div class="col-lg-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img src="https://health-bro.s3.eu-west-2.amazonaws.com/media/testimonial1.jpg" alt="...." class = "testimonial-pic">
                    <h5>Phil D.</h5>
                    <!-- <p class="font-weight-light mb-0">"This is fantastic! Thanks so much guys!"</p> -->
                </div>
            </div>
            <div class="col-lg-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img src="https://health-bro.s3.eu-west-2.amazonaws.com/media/testimonial2_720.jpg" alt="...." class="testimonial-pic">
                    <h5>Mark S.</h5>
                    <!-- <p class="font-weight-light mb-0">"Bootstrap is amazing. I've been using it to create lots of super nice landing pages."</p> -->
                </div>
            </div>
            <div class="col-lg-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img src="https://health-bro.s3.eu-west-2.amazonaws.com/media/testimonial3.jpg" alt="...." class = "testimonial-pic">
                    <h5>John B.</h5>
                    <!-- <p class="font-weight-light mb-0">"Thanks so much for making these free resources available to us!"</p> -->
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}