{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container">
    <div class="row gy-5">
        <div class="col-12">
            <div class="row">
                <div class="col-12 col-md-4 order-md-1">
                    <img class="team-img" src="https://health-bro.s3.eu-west-2.amazonaws.com/media/vas.png" alt="Vas">
                </div>
                <div class="col-12 col-md-8 order-md-2">
                    <h3>Vas</h3>
                    <p>Hi there! I'm Vas, a passionate software engineer with a knack for creating meaningful
                         solutions. My coding journey led me to develop a men's wellness website that empowers users 
                         to prioritise their health. Through sleek design and user-friendly features, 
                         I aim to make well-being accessible to everyone. Let's vent for a healthier world!
                    </p>
                </div>
            </div>
        </div>

        <div class="col-12">
            <div class="row">
                <div class="col-12 col-md-4 order-md-2">
                    <img class="team-img" src="https://health-bro.s3.eu-west-2.amazonaws.com/media/erik.png" alt="Erik">
                </div>
                <div class="col-12 col-md-8 order-md-1">
                    <h3>Erik</h3>
                    <p>Hey, I'm Erik, a software architect on a mission to enhance men's 
                        wellness through technology. Our app is a testament to the fusion of innovation and 
                        health, offering a platform that promotes fitness, mental resilience, and self-care. 
                        Our aim was to write code that transforms lives!</p>
                </div>
            </div>
        </div>

        <div class="col-12">
            <div class="row">
                <div class="col-12 col-md-4 order-md-1">
                    <img class="team-img" src="https://health-bro.s3.eu-west-2.amazonaws.com/media/kate.png" alt="Kate">
                </div>
                <div class="col-12 col-md-8 order-md-2">
                    <h3>Kate</h3>
                    <p>Hello world! I'm Kate, a creative coder breaking stereotypes in tech. 
                        My passion for wellness led me to develop a men's health app that's all about balance 
                        and self-improvement. With an intuitive interface and personalised features, 
                        I'm excited to contribute to a healthier future.</p>
                </div>
            </div>
        </div>

        <div class="col-12">
            <div class="row">
                <div class="col-12 col-md-4 order-md-2">
                    <img class="team-img" src="https://health-bro.s3.eu-west-2.amazonaws.com/media/khalid.png" alt="Khalid">
                </div>
                <div class="col-12 col-md-8 order-md-1">
                    <h3>Khalid</h3>
                    <p>What's up guys, I'm Khalid, I'm a coding enthusiast turned wellness tech advocate. 
                        My journey in software engineering fueled the creation of a men's wellness app aimed 
                        at fostering healthier habits. Let's collaborate on projects that prioritise self-care 
                        and redefine the intersection of strength and health!</p>
                </div>
            </div>
        </div>

        <div class="col-12">
            <div class="row">
                <div class="col-12 col-md-4 order-md-1">
                    <img class="team-img" src="https://health-bro.s3.eu-west-2.amazonaws.com/media/dils.png" alt="Dils">
                </div>
                <div class="col-12 col-md-8 order-md-2">
                    <h3>Dils</h3>
                    <p>Hey! I'm Dils, a dedicated developer weaving lines of code into tools that 
                        makes a difference. Inspired by a commitment to holistic health, we crafted a men's 
                        wellness app that seamlessly integrates fitness, nutrition, and mental well-being. 
                        Join me on this journey to foster positive change, one line of code at a time!</p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}