{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container">
    <div class="row gy-5">
        <div class="col-12">
            <div class="row">
                <div class="col-12 col-md-4 order-md-1">
                    <img class="team-img" src="" alt="">
                </div>
                <div class="col-12 col-md-8 order-md-2">
                    <h3>Vas</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos odit sint tempore autem repellendus
                        eaque dignissimos iusto beatae quisquam cumque amet dolore, architecto eius, possimus, pariatur
                        eum ratione officia nam?</p>
                </div>
            </div>
        </div>

        <div class="col-12">
            <div class="row">
                <div class="col-12 col-md-4 order-md-2">
                    <img class="team-img" src="" alt="">
                </div>
                <div class="col-12 col-md-8 order-md-1">
                    <h3>Erik</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos odit sint tempore autem repellendus
                        eaque dignissimos iusto beatae quisquam cumque amet dolore, architecto eius, possimus, pariatur
                        eum ratione officia nam?</p>
                </div>
            </div>
        </div>

        <div class="col-12">
            <div class="row">
                <div class="col-12 col-md-4 order-md-1">
                    <img class="team-img" src="" alt="">
                </div>
                <div class="col-12 col-md-8 order-md-2">
                    <h3>Kate</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos odit sint tempore autem repellendus
                        eaque dignissimos iusto beatae quisquam cumque amet dolore, architecto eius, possimus, pariatur
                        eum ratione officia nam?</p>
                </div>
            </div>
        </div>

        <div class="col-12">
            <div class="row">
                <div class="col-12 col-md-4 order-md-2">
                    <img class="team-img" src="" alt="">
                </div>
                <div class="col-12 col-md-8 order-md-1">
                    <h3>Khalid</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos odit sint tempore autem repellendus
                        eaque dignissimos iusto beatae quisquam cumque amet dolore, architecto eius, possimus, pariatur
                        eum ratione officia nam?</p>
                </div>
            </div>
        </div>

        <div class="col-12">
            <div class="row">
                <div class="col-12 col-md-4 order-md-1">
                    <img class="team-img" src="" alt="">
                </div>
                <div class="col-12 col-md-8 order-md-2">
                    <h3>Dils</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos odit sint tempore autem repellendus
                        eaque dignissimos iusto beatae quisquam cumque amet dolore, architecto eius, possimus, pariatur
                        eum ratione officia nam?</p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}