{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="" style="height: 50vh;">
            <p>{{ room }}</p>
        </div>
        <div class="col-6 mx-auto">

            <div class="">
                <div id="chat-log" class="bg-light"></div>

                <form id="post-form" method="POST">
                    {% csrf_token %}
                    <input name="username" id="username" value="{{username}}" />
                    <input name="room_id" id="room_id" value="{{room_details.id}}" />
                    <input type="text" name="message" id="message" width="100px" />
                    <button type="submit" value="Send" class="btn bg-light">Send</button>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}