/* header */
@import url('https://fonts.googleapis.com/css?family=Oswald:700|Quattrocento:400');

:root {
  /* fonts */
  --title: "Lato", sans-serif;
  --main-font: "Playfair Display", serif;

  /* Colours */
  --text: #fef9ec;
  --background: #140f00;
  
  --primary: #d8edee;
  --secondary: #A55631;
  --accent: #457373;

  /* Utility */
  --small-boxshadow: 0 0 0.5rem rgba(255, 255, 255, 0.2);
  --boxshadow: 0 0 1rem rgba(255, 255, 255, 0.2);
  --border: 1px solid rgba(255, 255, 255, 0.2);
  --skew-angle: 5deg;
}

body {
  font-family: 'Quattrocento';
  font-weight: 400;
  background-color: var(--background);
}

h1, h2, h3, h4, h5 {
  font-family: 'Oswald';
  font-weight: 700;
}

html {font-size: 100%;} /* 16px */

h1 {font-size: 4.210rem; /* 67.36px */}

h2 {font-size: 3.158rem; /* 50.56px */}

h3 {font-size: 2.369rem; /* 37.92px */}

h4 {font-size: 1.777rem; /* 28.48px */}

h5 {font-size: 1.333rem; /* 21.28px */}

small {font-size: 0.750rem; /* 12px */}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--main-font);
}

html,
body {
  overflow-x: hidden;
}

.color-1-bg {
  background-color: var(--text);
}

.color-1-text {
  color: var(--text);
}

.color-2-bg {
  background-color: var(--background);
}

.color-2-text {
  color: var(--background);
}

.color-3-bg {
  background-color: var(--primary);
}

.color-3-text {
  color: var(--primary);
}

.color-4-bg {
  background-color: var(--secondary);
}

.color-4-text {
  color: var(--secondary);
}

.color-5-bg {
  background-color: var(--accent);
}

.color-5-text {
  color: var(--accent);
}


/* logo path START */
.path-1 {
  width: 50%;
  stroke-dashoffset: 1200;
  stroke-dasharray: 1200;
  fill: none;
  stroke-width: 1;
  stroke: var(--primary);
  animation: draw-1 5s linear forwards;
}

.path-2 {
  width: 50%;
  stroke-dashoffset: 1200;
  stroke-dasharray: 1200;
  fill: none;
  stroke-width: 1;
  stroke: var(--primary);
  animation: draw-2 5s linear forwards;
}

@keyframes draw-1 {
  0% {
    fill: none;
  }

  80% {
    stroke-dashoffset: 0;
    fill: #45737300;
  }

  100% {
    fill: var(--accent);
    stroke-dashoffset: 0;
  }
}

@keyframes draw-2 {
  0% {
    fill: none;
  }

  80% {
    stroke-dashoffset: 0;
    fill: #a5563100;
  }

  100% {
    fill: var(--secondary);
    stroke-dashoffset: 0;
  }
}

svg {
  filter: drop-shadow(2px 2px 1px var(--primary));
}


/* logo path END */

/* NavBar */
nav * {
  font-family: var(--title);
}


#main-logo {
  width: 3rem;
  height: 1.5rem;
}

#navbarText{
  margin-left: 7rem;
}

@media screen and (max-width: 768px) {
  #navbarText{
  margin-left: 0;
}
}

/* Forms */
.form-box * {
  width: 100%;
  font-family: var(--main-font);
}

.form-box {
  max-width: 480px;
}

#id_remember {
  width: auto;
}

/* footer */
.social-btn{
  color: var(--secondary);
  font-size: 1.5rem;
  height: 3rem;
  width: 3rem;
  margin: 0 0.5rem;
  border: 2px solid var(--secondary);
}

.social-btn:hover{
  color: var(--primary);
  background-color: var(--secondary);
}

.copyright-p,
.copyright-p a 
{
  font-size: 0.75rem;
  color: var(--primary);
}

.copyright-p a:hover{
  color: var(--background);
}