{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}
  <div class="container-fluid body-content">
      <h3 class="py-2">My Account</h3>
      <p class="py-2 lead">Welcome to your profile page, {{ user.first_name }}!</p>

  <!-- Profile Information -->
  <div class="d-flex flex-column flex-sm-row my-3 py-3 justify-content-center">
    <div class="flex-column p-3 text-center">
        <img src="{{ user.profile.profile_pic.url }}" alt="user profile image" class="rounded-circle profile-pic">
    </div>
    <div class="d-flex flex-column p-3 text-center">
        <h3>My Details</h3>
        <p>Name: {{ user.first_name }} {{ user.last_name }}</p>
        {% if user.email %}
          <p>Email Address: {{ user.email }}</p>
        {% endif %}
        <a href="{% url 'update_profile' user.profile.id %}">Update</a>
    </div>
  </div>

  </div>
{% else %}
  <div class="container-fluid">
    <p>You are not able to do this. Please <a href="{% url 'account_login' %}">Login</a>.</p>
  </div>
{% endif %}

{% endblock %}