{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
  <h3 class="text-center">All Profiles</h3>
  <div class="container-fluid">
      <div class="row">
          {% for profile in profile_list %}
              <div class="col-sm-6 col-lg-4 col-xl-3">
                  <a href="{% url 'profile' profile.pk %}" class="">
                      <div class="">
                          <img src=" {{ profile.profile_pic.url }}" alt="profile image">
                      </div>
                      <div class="text-center">
                          <p class="">{{ profile.username }}</p>
                      </div>
                  </a>
              </div>
          {% endfor %}
      </div>  
  </div>
</div>


{% endblock %}