{% load static %}

<footer class="color-3-bg text-center text-white">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
        <!-- Social Media links -->
        <section class="mb-4">

            <!-- Facebook -->
            <a class="btn social-btn btn-floating m-1" href="https://www.facebook.com/" role="button"><i
                    class="fab fa-facebook-f"></i></a>

            <!-- Twitter -->
            <a class="btn social-btn btn-floating m-1" href="https://twitter.com/" role="button"><i
                    class="fab fa-twitter"></i></a>


            <!-- Instagram -->
            <a class="btn social-btn btn-floating m-1" href="https://www.instagram.com/" role="button"><i
                    class="fab fa-instagram"></i></a>

            <!-- Linkedin -->
            <a class="btn social-btn btn-floating m-1" href="https://www.linkedin.com/" role="button"><i
                    class="fab fa-linkedin-in"></i></a>

    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <p class="text-center p-2 color-5-bg copyright-p">
        © 2023 Copyright:
        <a class="copyright-link" href="https://hackathon.codeinstitute.net/teams/370/">Movember
            Mentalists</a>
    </p>
    <!-- Copyright -->
</footer>